#an{
    text-align: center;
    background-color: darksalmon;
}
#f{
    text-align: center;
    background-color: darksalmon;
}
.a{
    
    display: flex;
}
.b{
    margin-right: 2%;
    margin-left: 5%;
    width: 200px;
    height: 400px;
    border: 1px solid #c3c3c3;
    background-color: rgb(230, 166, 232)
}
#b1{
    text-align: center;}
#c{
    text-align: center;
    color: khaki;
    background-color: rgb(165, 78, 168);
}
.b11{
   
    color: khaki;
    border: 1px solid #3e0f0f;
    
}

.d{
    margin-left: 5%;
    width: 900px;
    height: 400px;
    color: khaki;
    border: 1px solid #c3c3c3;
    
}
.e{
    width: 400px;
    height: 200px;
    position: centro;
    /*background-image: url(e.jpg);*/
    background-repeat: no-repeat;
}
#e1{

    color: khaki;
    background-color: rgb(165, 78, 168);

}
